* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  overflow: hidden;
  background-color: #23232310;
}

header {
  display: none;
}

main {
  display: grid;
  grid-template-columns: 1fr minmax(250px, 610px);
  min-height: 100vh;
}

.image {
  width: 100%;
  height: 100%;
  background-image: url("./img/hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.image img {
  min-height: 100%;
}
.text img {
  max-width: 158px;
}

.text {
  padding: 65px;
  margin-left: 32px;
}

.pattern {
  display: flex;
  justify-content: center;
  width: 100%;
  background-image: url("./img/bg-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

h1 {
  margin-top: 130px;
  max-width: 12ch;
  font-weight: 700;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: 0.26em;
  text-transform: uppercase;
}

h1 span {
  font-weight: 300;
  font-size: 64px;
  letter-spacing: 0.26em;
  text-transform: uppercase;
}

p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  max-width: 54ch;
}

form {
  max-width: 445px;
  margin-top: 40px;
  position: relative;
}

input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  padding: 19px 30px;
  border-radius: 100px;
  border: 1px solid #1274b5;
  outline: none;
}
input::placeholder{
  color: #1274b598;
}

button {
  position: absolute;
  right: 0;
  width: 100px;
  height: 56px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #068be4, #0061a7);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 15px 50px -12px;
  transition: .2s;
}

button:hover{
  background: linear-gradient(90deg, #2ca4f3, #1883cf);
  box-shadow: #006cb467 0px 15px 50px -12px;
}

button::after {
  content: "";
  display: block;
  width: 11px;
  height: 20px;
  background-image: url("./img/seta.svg");
  margin: 0 auto;
}

.error {
  display: none;
}

@media (min-height: 801px) {
  .pattern {
    align-items: center;
  }
  h1 {
    margin-top: 80px;
  }
}

@media (max-width: 950px) {
  main {
    grid-template-columns: 1fr minmax(210px, 400px);
  }
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  .text {
    margin-left: 0;
  }
  h1 span {
    font-size: 40px;
  }
  .text p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (max-width: 630px) {
  header {
    display: block;
    padding: 32px;
  }
  header img {
    max-width: 100px;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
  }
  .image {
    grid-row: 1;
    background-image: url("./img/hero-mobile.jpg");
  }
  .text img {
    display: none;
  }
  h1 {
    text-align: center;
    max-width: initial;
    margin-top: 0;
  }
  p {
    text-align: center;
    max-width: initial;
  }
  form {
    margin-top: 30px;
  }
  .pattern {
    align-items: flex-start;
  }
  form{
    max-width: 311px;
    margin: 30px auto 0 auto;
  }
  input{
    font-size: 14px;
    padding: 17px 24px;
  }
  button{
    width: 64px;
    height: 50px;
  }
}
@media(max-width: 500px){
  .text{
    max-width: 330px;
    padding: 65px 0;
    margin: 0 20px;
  }
  h1{
    font-size: 30px;
    line-height: 34px;
  }
  h1 span{
    font-size: 30px;
  }
}
